version: "3.9"

services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  ml-client:
    build: ./machine-learning-client
    container_name: ml-client
    depends_on:
      - mongodb

  web-app:
    build: ./web-app
    container_name: web-app
    ports:
      - "5050:5000"
    depends_on:
      - mongodb

volumes:
  mongo-data:
