services:
  web:
    build: ./web-app
    ports:
      - "5000:5000"
    volumes:
      - ./web-app:/app
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
